@using System.Net.Http
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using Microsoft.JSInterop

@using KWFBlazorWasm.Configuration
@using KWFBlazorWasm.Context.Language

@inherits LayoutComponentBase
<CascadingValue Value="@appLanguage" Name="AppLanguage">
    @if (appIsStarting)
    {
        <span>
            App loading language object
            Loading Screen
        </span>
    }
    else
    {
        if (configuration?.OverrideMainLayout == null)
        {
            <LayoutView Layout="@typeof(KrwMainLayout)">
                @Body
            </LayoutView>
        }
        else
        {
            <LayoutView Layout="@configuration.OverrideMainLayout">
                @Body
            </LayoutView>
        }
    }
</CascadingValue>

@code
{
    [Inject]
    private IKwfAppConfiguration configuration { get; set; }

    [Inject]
    private ILanguageContextInitializer languageInitializer { get; set; }

    private bool appIsStarting => !languageInitializer.IsInitialized;

    private ILanguageContext appLanguage { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            appLanguage = await languageInitializer.InitializeLanguageContext();
            StateHasChanged();
        }
    }
}
