<h3>
    @AppLanguage.GetErrorTranslation(@ErrorTitleToken)
</h3>
<p>
    @AppLanguage.GetErrorTranslation(ErrorMessageToken)
</p>

@code {
    [CascadingParameter(Name = "AppLanguage")]
    public ILanguageContext AppLanguage { get; set; }

    [Parameter]
    public string ErrorTitleToken { get; set; }

    [Parameter]
    public string ErrorMessageToken { get; set; }
}
